<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="JraftAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/rice/dispatcher/dispatcher_raft.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/rice/dispatcher/dispatcher_raft.%i.log
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>


    <appender name="RiceDispatcherAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/rice/dispatcher/dispatcher.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/rice/dispatcher/%d{yyyyMMdd}/dispatcher.%i.log
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="RiceDispatcherAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="RiceDispatcherAppender_inner"/>
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <encoder>
            <pattern>%d{yyy-MM-dd HH\:mm\:ss,SSS} %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <!--  Jraft包下的日志使用JraftAppender  -->
    <logger name="com.alipay" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="JraftAppender"/>
    </logger>

    <!--    <logger name="RiceCommon" additivity="false">-->
    <!--        <level value="INFO"/>-->
    <!--        <appender-ref ref="RiceControllerAppender"/>-->
    <!--    </logger>-->

    <!--    <logger name="RiceRepository" additivity="false">-->
    <!--        <level value="INFO"/>-->
    <!--        <appender-ref ref="RiceControllerAppender"/>-->
    <!--    </logger>-->

    <!--    没有设置addtivity，默认为true，将此loger的打印信息向上级传递；-->
    <!--    <logger name="RiceHttpAgent" additivity="false"> -->
    <!--        <level value="INFO"/>-->
    <!--        <appender-ref ref="RiceControllerAppender"/>-->
    <!--    </logger>-->

    <root>
        <level value="INFO"/>
        <appender-ref ref="RiceDispatcherAppender"/>
        <!--   生产环境下不设置下面的 appender-ref     -->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
