<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="system" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/rice/system.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/rice/system.%i.log
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>30</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date %p %t - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="dailyAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/simple/daily.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/logs/simple/daily.log.%d{yyyy-MM-dd_HH}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %p %t - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="riceAppender1" class="com.gaojy.rice.processor.api.log.appender.logback.RiceLogBackAppender">
        <layout>
            <pattern>%date %p %t - %m%n</pattern>
        </layout>
    </appender>

    <appender name="riceAsyncAppender1" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <discardingThreshold>80</discardingThreshold>
        <maxFlushTime>2000</maxFlushTime>
        <neverBlock>true</neverBlock>
        <appender-ref ref="riceAppender1"/>
    </appender>

    <root>
        <level value="debug"/>
        <appender-ref ref="consoleAppender"/>
    </root>

    <logger name="systemLogger" level="debug" additivity="false">
        <appender-ref ref="system"/>
    </logger>

    <logger name="testLogger" level="debug" additivity="false">
        <appender-ref ref="riceAsyncAppender1"/>
        <appender-ref ref="consoleAppender"/>
    </logger>
</configuration>
